*   {
    color: #2d3436;
}

body {
    background-color: #EFBD7C;
    margin-bottom: 100px;
}

p   {
    font-size: 1.25em
}

.tools   {
    font-size: 2.5em;
    transition: 0.5s;
}
.tools:hover   {
    color:#9b93f2;
    cursor: default;
}

h1   {
    margin-bottom: 30px;
    text-align: center;
}

h2   {
    font-size: 35px;
}

main   {
      width: 80%;
      margin: 3.25rem auto 0 auto;
      clear: both;
      margin-right: auto;
      background-color:#faebd7;
      border-radius: 3px;
}
main a   {
    font-size: 1.25em;
    margin-top: 30px;
    
}

.img-thumbnail  {
    margin: 5px;
}

.logo   {
    height: 150px;
    margin-top: 40px;
    width: 100%;
    border-radius: 3px;
    transition-duration:0.3s;
    margin-left: 150px
}
.logo:hover   {
    border-width:2px;
    border-color: yellow;
}

.container  {
    margin-bottom: 20px;
}


.footer   {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d3436;
  height: 30px;
}
@media (max-width: 768px)
    {.logo  {
        width: 50%;
        margin: 0px;
        height: 100px;
    }
    h2   {
        font-size: 1.5em;
    }
    .img-fluid   {
        height: 220px;
        width: 250px;
    }
    }


@media   (max-width: 400px)  {main {
        width: 97%;
        margin-right: 5px;
        margin-left: 5px;
}
        .logo   {
            margin: 0px;
        }   
}