*   {
    color: #2d3436;
}

body {
    background-color: #EFBD7C
}

p   {
    font-size: 1.25em
}

main   {
      width: 80%;
      margin: 3.25rem auto 0 auto;
      clear: both;
      margin-right: auto;
      background-color:#faebd7;
      border-radius: 3px;
}

h1   {
    border-bottom: 2px #2d3436;
}

.img-thumbnail  {
    margin: 5px;
}

main a   {
    font-size: 1.25em;
    margin-top: 30px;
    margin-bottom: 300px;
}

.footer   {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d3436;
  height: 30px;
}

@media   (max-width: 400px)  {main {
        width: 97%;
        margin-right: 5px;
        margin-left: 5px;
       
}
}